body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 150px;
}

/* Навигация */
.header {
    background-color: #fff;
    border-bottom: 2px solid #e0e0e0;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* Контейнер для хедера */
.header-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Логотип */
.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 30px;
    margin-right: 10px;
}

.logo-text {
    font-size: 20px;
    font-weight: bold;
    color: #6a1b9a;
}

/* Навигация */
.nav {
    display: flex;
    gap: 50px;
    margin-left: 450px;
}

.nav a {
    text-decoration: none;
    color: #000; /* стандартный цвет ссылок */
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav a:hover {
    background-color: #f0f0f0; /* цвет при наведении */
}

.nav a.active {
    border: 1px solid purple;/* цвет фона для активного элемента */  
    font-weight: bold;
}
/* 
/* Аватар пользователя */
.user-profile {
    display: flex;
    align-items: center;
}

.user-avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #6a1b9a;
}


.logo {
    font-size: 24px;
    font-weight: bold;
    color: #6a1b9a;
}


.volunteering-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    margin-bottom: 20px;
    overflow: hidden;
}

.volunteering-card img {
    width: 40%;
    object-fit: cover;
}

.card-content {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-content h2 {
    margin-bottom: 10px;
    color: #6a1b9a;
}

.card-content p {
    margin-bottom: 20px;
    line-height: 1.6;
}

.btn {
    background-color: #ff9800;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #e68a00;
}
